body{
    background-color: #ffefe3;
}

.container-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.titulo{
    font-weight: bold;
    font-size: 1.4rem;
}

.subtitulo{
    color: gray;
    font-size: 0.9rem
}

.container-peso-altura{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;

}

.peso-altura{
    width: 60%;
    padding: 0.9rem;
    font-size: 1rem;
    border-radius: 40%;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media (min-width: 768px) {
  .field {
    flex-direction: row;
    align-items: center;
  }

  label {
    width: 120px;
  }

  input {
    flex: 1;
  }
}

@media (min-width: 1024px) {
  input {
    font-size: 0.8rem;
    padding: 1.2rem;
    max-width: 30%;
  }

  .titulo{
    font-weight: bold;
    font-size: 1.8rem
}

.subtitulo{
    color: gray;
    font-size: 1.1rem
}

}


.container-btn{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}


@media (min-width: 768px) {
  .form-container {
    flex-direction: row;
  }

  input {
    flex: 1;
  }

  button {
    width: 150px;
  }
}

@media (min-width: 1024px) {
  input, button {
    font-size: 1.1rem;
    padding: 1rem;
  }
}

.btn{
    padding: 0.75rem;
    font-size: 1rem;
    width: 25%;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffefe3;
}

button:hover {
  opacity: 0.9;
}

button:active {
  transform: scale(0.98);
}
.container-imc{
    display: none;
    box-sizing: border-box;
    margin-top: 5vh;
    border: 1px solid black;
    border-radius: 20px;
}

.txt-imc{
    margin-left: 10px;
}